.body {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  @media (max-width: @mobile-width-only) {
    width: 320px;
    margin: auto;
  }

  @media (min-width: @tablet-width) {
    width: 768px;
    margin: auto;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
    margin: auto;
  }
}


img {
  display: block;
  margin: auto;
}
