.information__button {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #81b3d2;
  display: block;
  width: 186px;
  padding: 16px 49px;
  margin: 0 auto;
  cursor: pointer;
}
