.advantages__item {
  background-color: #81B3D2;
  color: #ffffff;
  text-align: center;
  margin: 0 auto;
}

.advantages__item:nth-child(3) {
  margin: 24px auto;
  color: #000000;
  background-color:#EEEEEE;
}

.advantages__item:nth-child(4) {
  margin: 24px auto;
  color: #000000;
  background-color:#EEEEEE;
}

.advantages__item:nth-child(5) {
  margin: 24px auto;
  color: #000000;
  background-color:#EEEEEE;
}
