.advantages {
  margin: 0px auto 38px;
  display: grid;
  grid-template-columns: 1fr;
  background-color: #EEEEEE;


@media (min-width: $tablet-width) {
  background-color: #e41b1b;
  color: #e41b1b;
}
}
