.advantages__item-block--full-row {
  margin: 33px 18px 40px;

  @media (min-width: $tablet-width) {
    background-color: #e41b1b;
    color: #b90c0c;
  }
}
.advantages__item-block--full-row {
  margin: 33px 18px 40px;

  @media (min-width: $tablet-width) {
    background-color: #e41b1b;
    color: #e41b1b;
  }
}
